.budget-categories-toolbar {
  background-color: var(--color-background);
  padding: 0;
  margin: 0;
  border: 0;
}

.budget-categories-toolbar .p-toolbar {
  padding: 1rem 0 1rem 0;
  margin: 0;
}
/* 
.budget-categories-toolbar .budget-month-navigator,
.budget-categories-toolbar .budget-month-navigator * {
  background-color: var(--color-secondary);
  color: var(--color-secondary-content);
  font-weight: normal;
} */
