@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/lara-light-blue/theme.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@theme {
  --primary: #779ddb;
  --primary-content: #112442;
  --primary-dark: #4f80d0;
  --primary-light: #9fbae6;

  --secondary: #77dbb5;
  --secondary-content: #11422f;
  --secondary-dark: #4fd09f;
  --secondary-light: #9fe6cb;

  --background: #121821;
  --foreground: #1c2431;
  --border: #2e3c51;

  --copy: #fafbfc;
  --copy-light: #ced6e3;
  --copy-lighter: #8da0be;

  --success: #77db77;
  --warning: #dbdb77;
  --error: #db7777;
  --success-content: #114211;
  --warning-content: #424211;
  --error-content: #421111;
}
