@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/lara-light-blue/theme.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@theme {
  --primary: #7c3aed;
  --primary-content: #ffffff;
  --primary-dark: #5f14e0;
  --primary-light: #9b69f1;

  --secondary: #ed3a51;
  --secondary-content: #ffffff;
  --secondary-dark: #e0142f;
  --secondary-light: #f1697a;

  --background: #19181b;
  --foreground: #252329;
  --border: #3e3b45;

  --copy: #fbfbfb;
  --copy-light: #d8d6dc;
  --copy-lighter: #a49fac;

  --success: #3aed3a;
  --warning: #eded3a;
  --error: #ed3a3a;
  --success-content: #032503;
  --warning-content: #252503;
  --error-content: #ffffff;
}
