@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/lara-light-blue/theme.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@theme {
  --color-primary: #4e62a0;
  --color-primary-content: #f4f5f9;
  --color-primary-dark: #3d4d7e;
  --color-primary-light: #6a7db7;

  --color-secondary: #4e9fa0;
  --color-secondary-content: #000000;
  --color-secondary-dark: #3d7d7e;
  --color-secondary-light: #6ab6b7;

  --color-background: #14161f;
  --color-foreground: #1d222f;
  --color-border: #31384f;

  --color-copy: #fafbfc;
  --color-copy-light: #d0d4e2;
  --color-copy-lighter: #919bba;

  --color-success: #4ea04e;
  --color-warning: #a0a04e;
  --color-error: #a04e4e;
  --color-success-content: #f4f9f4;
  --color-warning-content: #000000;
  --color-error-content: #f9f4f4;
}
