@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/lara-light-blue/theme.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@theme {
  --color-primary: #7c3aed;
  --color-primary-content: #ffffff;
  --color-primary-dark: #5f14e0;
  --color-primary-light: #9b69f1;

  --color-secondary: #ed3a51;
  --color-secondary-content: #ffffff;
  --color-secondary-dark: #e0142f;
  --color-secondary-light: #f1697a;

  --color-background: #efeff1;
  --color-foreground: #fbfbfb;
  --color-border: #dedde2;

  --color-copy: #252329;
  --color-copy-light: #645e6e;
  --color-copy-lighter: #8a8495;

  --color-success: #3aed3a;
  --color-warning: #eded3a;
  --color-error: #ed3a3a;
  --color-success-content: #032503;
  --color-warning-content: #252503;
  --color-error-content: #ffffff;
}