@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/lara-light-blue/theme.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@theme {
  --color-text: #212529;

  --color-primary: #8e18ef;
  --color-primary-content: #ffffff;

  --color-secondary: #bf88ec;
  --color-secondary-content: #ffffff;

  --color-warn: #f3bc58;
  --color-warn-content: var(--color-text);

  --color-text: #120a19;
  --color-background: #ffffff;
  --color-surface: #f7f3fb;

  --color-accent: #aa54ef;

  --color-error: #f68a7d;

  --color-table-header: #b6a6ca;
  --color-table-header-content: #ffffff;

  --color-table-section: #f0f0ff;
  --color-table-section-content: #212529;

  --color-text: #212529;
}

/* Primary button */
Button.primary:not(.p-button-text) {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
  font-weight: normal;
}

Button.primary.p-button-text {
  color: var(--color-primary);
  padding: 0;
  margin: 0;
}

/* Secondary button */
Button.secondary:not(.p-button-text) {
  background-color: var(--color-secondary);
  color: var(--color-secondary-content);
  font-weight: normal;
}

Button.secondary.p-button-text {
  color: var(--color-secondary);
  padding: 0;
  margin: 0;
}

/* Warning button */
Button.warn:not(.p-button-text) {
  background-color: var(--color-warn);
  color: var(--color-warn-content);
  font-weight: normal;
}

Button.warn.p-button-text {
  color: var(--color-warn);
  padding: 0;
  margin: 0;
}

* {
  color: var(--color-text);
}
